<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AF style</title>
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body>
    <header class="header-xs">
        <nav class="nav-links">
            <img src="../assets/imagenes/logo3.jpeg" alt="logo de la empresa" width="50" height="50" id="logo-empresa">
            <a href="../index.html">Inicio</a>
            <a href="./productos.html">Productos</a>
            <a href="./Presupuesto.html">Presupuesto</a>
            <a href="./Contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <h1 id="titulo-contacto">Centro de Servicio</h1>
       <table class="contacto">
        <tr>
            <th class="contacto-columnas">
                Nombre de la Empresa
            </th>
            <td class="contacto-columnas">
                AF s.l.
            </td>
        </tr>
        <tr>
            <th class="contacto-columnas">
                Teléfono de contacto
            </th>
            <td class="contacto-columnas">
                +34 66 252 54 76
            </td>
        </tr>
        <tr>
            <th class="contacto-columnas">
                E-mail
            </th>
            <td class="contacto-columnas">
                <a href="mailto:Ezequiel.af@outlook.com">clientes@af.com</a>
            </td>
        </tr>
        <tr>
            <th class="contacto-columnas">
                Dirección
            </th>
            <td class="contacto-columnas">
               Plaza de los luceros 1, 03001, Alicante, España
            </td>
        </tr>
       </table>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.125549447554!2d-0.4924623234206922!3d38.34607607184704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd62364d7243da5d%3A0x344d3a2481ef6eb0!2sPl.%20de%20los%20Luceros%2C%201%2C%2003001%20Alicante%20(Alacant)%2C%20Alicante!5e0!3m2!1ses-419!2ses!4v1736504477013!5m2!1ses-419!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="mapa"></iframe>
    </main>
    <footer>
        <div class="pie">
            <ul>
                <li>
                     <!--Las cuentas de instagram y facebook fueron creadas ficticias, en linkedin nos lleva a la pagina principal porque no tenemos perfil-->
                    <a href="https://www.facebook.com/people/AF/61571651371725/?mibextid=wwXlfr&rdid=G0P7L1xj16zA3VXA&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1GgYUgViax%2F%3Fmibextid%3DwwXlfr" target="_blank">
                        <img src="../assets/imagenes/facebook.png" alt="icono de instagram" width="2000" height="2000" class="img-contacto">
                    </a>
                    <a href="https://instagram.com/af_developmentt?igsh=MTk0dWNxNW1rOW-NoaQ==" target="_blank">
                        <img src="../assets/imagenes/instagram.png" alt="icono de instagram" width="200" height="200" class="img-contacto">
                    </a>
                    <a href="https://es.linkedin.com/" target="_blank">
                        <img src="../assets/imagenes/linkedin.png" alt="icono de linkedin" width="506" height="512" class="img-contacto">
                    </a>
                </li>
            </ul>
            <p>Copyright © 2010-2025 AF Company S.L. Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>
</html>