<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AF style</title>
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body>
    <header class="header-xs">
        <nav class="nav-links">
            <img src="../assets/imagenes/logo3.jpeg" alt="logo de la empresa" width="50" height="50" id="logo-empresa">
            <a href="../index.html">Inicio</a>
            <a href="./productos.html" class="color-nav">Productos</a>
            <a href="./presupuesto.html">Presupuesto</a>
            <a href="./contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="contenedor-productos">
                <h1>Productos</h1>
                <div class="productos1">
                    <h2 class="productos-titulo">Diseños</h2>
                    <img src="../assets/imagenes/productos/desing.jpg" alt="tres pantallas donde se refleja la creacion de una pagina web" width="222" height="180" class="img-producto">
                    <div class="productos-texto">
                        <p>Comentanos como te gustaria que sea tu pagina web y nosotros la diseñamos</p>
                        <img src="../assets/imagenes/arrow-down-short-wide-svgrepo-com.svg" alt="icono de flecha para desplegar menu" width="50" height="50" class="menu">
                    </div>
                </div>
                <div class="productos2">
                    <h2 class="productos-titulo">Colores</h2>
                    <img src="../assets/imagenes/productos/diseñopaginaweb1.png" alt="pagina web con colores" width="807" height="598" class="img-producto">
                    <div class="productos-texto">
                        <p>Te asesoramos sobre cual es la mejor combinacion</p>
                        <img src="../assets/imagenes/arrow-down-short-wide-svgrepo-com.svg" alt="icono de flecha para desplegar menu" width="50" height="50" class="menu">
                    </div>
                </div>
                <div class="productos3">
                    <h2 class="productos-titulo">Logos</h2>
                    <img src="../assets/imagenes/productos/logo.jpeg" alt="logo de una empresa" width="1024" height="1024" class="img-producto">
                    <div class="productos-texto">
                        <p>Ya tienes el tuyo?</p>
                        <img src="../assets/imagenes/arrow-down-short-wide-svgrepo-com.svg" alt="icono de flecha para desplegar menu" width="50" height="50" class="menu">
                    </div>
                </div>
            </div> 
        </section>
    </main>

    <footer>
        <div class="pie">
            <ul>
                <li>
                     <!--Las cuentas de instagram y facebook fueron creadas ficticias, en linkedin nos lleva a la pagina principal porque no tenemos perfil-->
                    <a href="https://www.facebook.com/people/AF/61571651371725/?mibextid=wwXlfr&rdid=G0P7L1xj16zA3VXA&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1GgYUgViax%2F%3Fmibextid%3DwwXlfr" target="_blank">
                        <img src="../assets/imagenes/facebook.png" alt="icono de instagram" width="2000" height="2000" class="img-contacto">
                    </a>
                    <a href="https://instagram.com/af_developmentt?igsh=MTk0dWNxNW1rOW-NoaQ==" target="_blank">
                        <img src="../assets/imagenes/instagram.png" alt="icono de instagram" width="200" height="200" class="img-contacto">
                    </a>
                    <a href="https://es.linkedin.com/" target="_blank">
                        <img src="../assets/imagenes/linkedin.png" alt="icono de linkedin" width="506" height="512" class="img-contacto">
                    </a>
                </li>
            </ul>
            <p>Copyright © 2010-2025 AF Company S.L. Todos los derechos reservados.</p>
        </div>
        
        

    </footer>
    
</body>
</html>